body {
  background: #000000;
  color: white;
  font: 15px/1.51 Helvetica, sans-serif;
  margin: 0 auto;
  padding: 30px;
}
.left-panel,
.right-panel,
.center-panel {
  padding: 2%;
  margin: 0;
  width: 25%;
  height: 500px;
  float: left;
  text-align: center;
  overflow: scroll;
}

.left-panel {
  background: #ccc;
  color: black;
}
.right-panel {
  background: #444444;
  color: white;
}
.center-panel {
  background: #7b7b7b;
  color: white;
}
form {
  width: 100%;
  display: inline-block;
  padding: 0;
  margin: 0;
  padding: 5px;
  margin: 5px 0 0 0;
}

input {
  width: 40%;
  padding: 8px 20px;
  border-radius: 2px;
  border: 0;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.plain-input-panel,
.throttle-input-panel,
.debounce-input-panel {
  color: #99ff7e;
  font-size: 20px;
}
