*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f2f5f7;
  min-height: 100%;
  height: 100%;
}
main {
  min-height: 100vh;
  padding: 10px 20px;
}

// THE SEARCH
.search {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 50%;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #ffffffae;
  color: #ff868e;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 24px;
  background: #ffffffae;
  color: #ff868e;
  font-family: inherit;
  font-size: 1.25rem;
  width: calc(100% - 100px);
  &::placeholder {
    color: #ff868e;
  }
}

button:hover {
  background: #ffffff;
}

// THE CARD
.card {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  flex-shrink: 0;
  flex-grow: 0;
  width: 300px;
  max-height: 200px;
  background-color: #fff;
  box-shadow: 0 5px 10px 0 rgba(#000, 0.15);
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem;

  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  transition: transform 400ms ease, background-color 400ms ease;
  &:hover {
    transform: translate3d(0px, -8px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    background-color: rgba(129, 129, 139, 0.15);
  }
}

.card-img {
  padding-bottom: 56.25%;
  position: relative;
  img {
    position: absolute;
    width: 100%;
  }
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: 1.25rem;
  line-height: 1.33;
  font-weight: 700;
  &.skeleton {
    // NOTICE THIS
    min-height: 28px;
    border-radius: 4px;
  }
}

.card-intro {
  margin-top: 0.75rem;
  line-height: 1.5;
  &.skeleton {
    // NOTICE THIS
    min-height: 72px;
    border-radius: 4px;
  }
}

// THE LOADING EFFECT
.skeleton {
  background-color: #e2e5e7;
  // The shine that's going to move across the skeleton:
  background-image: linear-gradient(
    90deg,
    rgba(#fff, 0),
    rgba(#fff, 0.5),
    rgba(#fff, 0)
  );
  background-size: 40px 100%; // width of the shine
  background-repeat: no-repeat; // No need to repeat the shine effect
  background-position: left -40px top 0; // Place shine on the left side, with offset on the left based on the width of the shine - see background-size
  animation: shine 1s ease infinite; // increase animation time to see effect in 'slow-mo'
}

@keyframes shine {
  to {
    // Move shine from left to right, with offset on the right based on the width of the shine - see background-size
    background-position: right -40px top 0;
  }
}

// NAVBAR
.navmenu {
  width: 100%;
  background: #ff868e;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

h1 {
  color: rgb(232, 232, 232);
  display: flex;
  align-items: center;
}
.filter-container {
  display: flex;
  justify-content: end;
  gap: 2rem;
  align-items: baseline;
  // justify-content: space-between;
}
.select {
  width: 100%;
  padding: 10px 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  border: none;
  border-radius: 10px;
  outline: ff868e;
  appearance: none;
  background: url("../images/dropdown-arrow.svg") no-repeat;
  background-position-x: 95%;
  background-position-y: 60%;
  background-color: white;
}
.filter-wrapper {
  width: 150px;
  &.small {
    width: 100px;
  }
}
.filterName {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.8;
  color: black;
}

// NEWS CONTAINER
.news-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
@media screen and (min-width: 768px) {
  .news-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .news-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
  }
}

.create-button {
  width: auto;
  align-self: end;
  background: #ff868e;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 30px;
  margin: 0;
  &:hover {
    color: #ff868e;
  }
}

.pets-list {
}
