<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page title</title>
    <link rel="stylesheet" href="../sass/jsonplaceholder.scss" />

  </head>
  <body>
    <section class="posts-section">
      <div class="container">
        <ul class="posts list js-posts"></ul>
        <button type="button" class="load__more__btn js-load-more is-hidden">
          Load more
        </button>
      </div>
    </section>
    <script type="module" src="../js/jsonplaceholder.js"></script>
  </body>
</html>