<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Theme switch</title>
    <link rel="stylesheet" href="../sass/_theme.scss" />
  </head>
  <body>
    <body class="light">
      <div class="toggle-switch">
        <p>Dark</p>
        <span>
          <label class="switch">
            <input id="theme-switch" type="checkbox" />
            <span class="slider round"></span>
          </label>
        </span>
        <p>Light</p>
      </div>
      <script type="module" src="../js/theme.js"></script>
    </body>
  </body>
</html>
