<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../sass/todos.scss" />
  </head>
  <body>
    <div class="container">
      <p>
        <label for="new-task">Add Item</label
        ><input id="new-task" type="text" /><button class="add">Add</button>
      </p>
      <h3 class="list-title">Todos</h3>
      <ul id="tasks-list"></ul>
    </div>
    <script src="../js/todos.js" type="module"></script>
  </body>
</html>
